In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('train.csv')

In [31]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [32]:
df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [33]:
df['keyword'].value_counts()

fatalities               45
armageddon               42
deluge                   42
damage                   41
harm                     41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [34]:
df.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [35]:
df.fillna('',inplace=True)

## Removing punctuation

In [36]:
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [37]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [38]:
df['text']= df['text'].apply(lambda x:remove_punctuation(x))

In [39]:
df['keyword']= df['keyword'].apply(lambda x:remove_punctuation(x))

## Lowering the case

In [40]:
df['text']= df['text'].apply(lambda x: x.lower())

In [41]:
df['keyword']= df['keyword'].apply(lambda x: x.lower())

## Tokenizing

In [24]:
import re

In [42]:
#defining function for tokenization

def tokenize(string):
    tokens = string.split()
    return tokens
#applying function to the column

In [43]:
df['text']= df['text'].apply(lambda x: tokenize(x))

In [44]:
df.head()

,id,keyword,location,text,target
0,1,,,"[our, deeds, are, the, reason, of, this, earth...",1
1,4,,,"[forest, fire, near, la, ronge, sask, canada]",1
2,5,,,"[all, residents, asked, to, shelter, in, place...",1
3,6,,,"[13000, people, receive, wildfires, evacuation...",1
4,7,,,"[just, got, sent, this, photo, from, ruby, ala...",1

In [45]:
df['keyword']= df['keyword'].apply(lambda x: tokenize(x))

In [46]:
df.tail()

,id,keyword,location,text,target
7608,10869,[],,"[two, giant, cranes, holding, a, bridge, colla...",1
7609,10870,[],,"[ariaahrary, thetawniest, the, out, of, contro...",1
7610,10871,[],,"[m194, 0104, utc5km, s, of, volcano, hawaii, h...",1
7611,10872,[],,"[police, investigating, after, an, ebike, coll...",1
7612,10873,[],,"[the, latest, more, homes, razed, by, northern...",1

In [48]:
df.drop(columns=['id'],inplace=True)

In [49]:
df.head()

  keyword location                                               text  target
0      []           [our, deeds, are, the, reason, of, this, earth...       1
1      []               [forest, fire, near, la, ronge, sask, canada]       1
2      []           [all, residents, asked, to, shelter, in, place...       1
3      []           [13000, people, receive, wildfires, evacuation...       1
4      []           [just, got, sent, this, photo, from, ruby, ala...       1

## Removing stop words

In [50]:
#importing nlp library
import nltk
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')

In [51]:
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [54]:
df['text']= df['text'].apply(lambda x:remove_stopwords(x))

## Stemming

In [55]:
from nltk.stem.porter import PorterStemmer

porter_stemmer = PorterStemmer()

In [58]:
def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text
df['text']=df['text'].apply(lambda x: stemming(x))

In [59]:
df['keyword']=df['keyword'].apply(lambda x: stemming(x))

## Lemmatization

In [60]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [62]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text

## Getting word embeddings

In [65]:
# !pip install python-Levenshtein
import gensim

In [68]:
# from gensim.scripts.glove2word2vec import glove2word2vec
# glove_input_file = df['text']
# word2vec_output_file = 'word2vec_embeddings.txt'
# glove2word2vec(glove_input_file, word2vec_output_file)